@import "./comom/variables";
@import "./comom/mixins";

.ms-form-item{
    display: flex;
    margin-bottom: $--margin;
    &.is-required{
        .ms-form-item-label::after{
            content: '*';
            color: $--color-danger;
            margin: 0 5px;
            position: absolute;
            top: auto;
            right: auto;
        }
    }
    .ms-form-item-label{
        flex: none;
        line-height: $--input-height;
        text-align: right;
        padding: 0 $--padding;
        position: relative;
    }
    &.ms-form-item-small{
        .ms-form-item-label,.ms-form-item-content{
            line-height: $--input-height-small;
        }
    }
    &.ms-form-item-medium{
        .ms-form-item-label,.ms-form-item-content{
            line-height: $--input-height;
        }
    }
    &.ms-form-item-large{
        .ms-form-item-label,.ms-form-item-content{
            line-height: $--input-height-large;
        }
    }
    .ms-form-item-content{
        flex: 1;
        position: relative;
        .ms-form-item-error{
            position: absolute;
            top: 100%;
            left: 5px;
            line-height: 1.3;
            color: $--color-danger;
        }
    }
}