@import "./comom/variables";
@import "./comom/mixins";

.ms-pull-refresh{
    .ms-pull-refresh-box{
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .ms-pull-refresh-head{
            padding: $--padding;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100px;
            left: 0;
            width: 100%;
            z-index: $--z-index-1;
        }
    }
}