@import "./variables";
@import "./mixins";

@mixin button($color, $textColor) {
    color: $textColor;
    border: 1px solid $color;
    background: $color;
    &:hover,&:focus{
        color: $textColor;
        border: 1px solid darken($color, 10%);
        background: darken($color, 10%);
    }
    &.is-disabled,&.is-disabled:hover,&.is-disabled:focus{
        cursor: not-allowed;
        opacity: .8;
        color: $textColor;
        border: 1px solid mix($color, white);
        background: mix($color, white);
    }
}
@mixin button-outline($color, $textColor, $hoverColor) {
    color: darken($textColor, 10%);
    border: 1px solid $textColor;
    background: $color;
    &:hover,&:focus{
        @if $hoverColor != null {
            color: $hoverColor;
            border-color: $hoverColor;
        } @else {
            color: $color;
            border-color: $textColor;
            background: $textColor;
        }
    }
    &.is-disabled,&.is-disabled:hover,&.is-disabled:focus{
        cursor: not-allowed;
        opacity: .8;
        color: $textColor;
        border: 1px solid $textColor;
        background: $color;
    }
}

.ms-button{
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 14px;
    padding: 0 $--padding;
    height: $--btn-height;
    line-height: $--btn-height;
    border-radius: 4px;
    &.ms-button-small{
        font-size: 12px;
        height: $--btn-height-small;
        line-height: $--btn-height-small;
    }
    &.ms-button-medium{
        font-size: 16px;
        height: $--btn-height;
        line-height: $--btn-height;
    }
    &.ms-button-large{
        font-size: 18px;
        height: $--btn-height-large;
        line-height: $--btn-height-large;
    }
    &.is-block{
        display: block;
        width: 100%;
    }
    &.ms-default-button{
        @include button-outline(#fff, $--btn-text-color, $--color-primary);
    }
    &.ms-primary-button{
        @include button($--color-primary, #fff);
    }
    &.ms-success-button{
        @include button($--color-success, #fff);
    }
    &.ms-danger-button{
        @include button($--color-danger, #fff);
    }

    &.ms-primary-button-outline{
        @include button-outline(#fff, $--color-primary, null);
    }
    &.ms-success-button-outline{
        @include button-outline( #fff, $--color-success, null);
    }
    &.ms-danger-button-outline{
        @include button-outline( #fff, $--color-danger, null);
    }

    .ms-icon{
        font-size: inherit;
        vertical-align: inherit;
        transform: scale(1.1);
    }

}
.ms-button-group{
    .ms-button{
        border-radius: 0;
        &:first-of-type{
            border-radius: $--radius 0 0 $--radius;
        }
        &:last-of-type{
            border-radius: 0 $--radius $--radius 0;
        }
    }
}

