@import "./comom/variables";
@import "./comom/mixins";

.ms-drawer{
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    &.is-rtl{
        left: auto;
        right: 0;
        top: 0;
        min-width: 100px;
        height: 100%;
        bottom: auto;
    }
    &.is-ltr{
        left: 0;
        top: 0;
        right: auto;
        bottom: auto;
        min-width: 100px;
        height: 100%;
    }
    &.is-ttb{
        left: 0;
        right: 0;
        top: 0;
        bottom: auto;
        width: 100%;
        min-height: 100px;
    }
    &.is-btt{
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        min-height: 100px;
    }
}

/*左入动画*/
.ltr-enter-active {
    z-index: 1;
    animation: left-in .5s;
}

.ltr-leave-active {
    animation: left-out .5s;
}

/*右入动画*/
.rtl-enter-active {
    animation: right-in .5s;
}

.rtl-leave-active {
    z-index: 1;
    animation: right-out .5s;
}

/*上入动画*/
.ttb-enter-active {
    animation: up-in .5s;
}

.ttb-leave-active {
    z-index: 1;
    animation: up-in .5s reverse;
}

/*下入动画*/
.btt-enter-active {
    animation: down-in .5s;
}

.btt-leave-active {
    z-index: 1;
    animation: down-in .5s reverse;
}