@import "./comom/variables";
@import "./comom/mixins";

.ms-side-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    min-width: 10px;
    width: 60%;
    z-index: $--z-index-1;
    opacity: 0;
    .ms-side-menu-content{
        height: 100%;
        width: 100%;
        background: $--color-dark;
        color: #ffffff;
    }
    &.is-left{
        left: auto;
        right: 0;
    }
    &.is-right{
        left: auto;
        right: 0;
    }
}